li.social {
  padding: 0;
  margin: 0;
}

li.social>a:hover {
  color: #ffffff;
}

li.social>a {
  color: #eeeeee;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

li.social>a.facebook:active,
li.social>a.facebook:hover,
a.facebook {
  background-color: #36549E;
}

li.social>a.google:active,
li.social>a.google:hover,
a.google {
  background-color: #F23014;
}

li.social>a.linkedin:active,
li.social>a.linkedin:hover,
a.linkedin {
  background-color: #0079BD;
}

li.social>a.twitter:active,
li.social>a.twitter:hover,
a.twitter {
  background-color: #00ACF6;
}

div.avatar {
  text-align: center;
}

div.avatar img {
  max-width: 200px;
}

th.name {
  width: 30%;
}

th.city {
  width: 25%
}

th.state {
  width: 20%
}

th.phone {
  width: 25%
}

th#message {
  width: 0;
  padding: 0;
  vertical-align: middle;
}

th#message>input {
  margin: 0;
}


td#message {
  text-align: center;
}

div.message-board {
  padding: 20px;
  background-color: #eeeeee;
  border-radius: 5px;
}

div.participants {
  padding: 0;
}

div.messages {
  padding: 10px;
}

div.message {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
}

span.name {
  font-weight: bold;
  font-style: italic;
}

tr.clickable {
  cursor: pointer;
}

th.participants {
  width: 30%;
}

th.message {
  width: 70%;
}
